USE [master]
GO
/****** Object:  Database [DB40]    Script Date: 04/05/2019 7:57:45 PM ******/
CREATE DATABASE [DB40]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB40', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DB40.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB40_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DB40_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB40].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB40]
GO
USE [DB40]
GO
/****** Object:  Table [dbo].[StudentResult]    Script Date: 04/05/2019 7:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentResult](
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[Grade] [int] NOT NULL,
 CONSTRAINT [PK_StudentResult] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC,
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentRegSubjectRelation]    Script Date: 04/05/2019 7:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentRegSubjectRelation](
	[StudentId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_StudentRegSubjectRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lookup]    Script Date: 04/05/2019 7:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lookup](
	[LookupId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Lookup] PRIMARY KEY CLUSTERED 
(
	[LookupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 04/05/2019 7:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CreditHrs] [int] NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 04/05/2019 7:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[UserRole] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[EnrollmentDate] [datetime] NOT NULL,
	[RegistrationNumber] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[StudentResultReport]    Script Date: 04/05/2019 7:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[StudentResultReport] as
select FirstName + ' '+ LastName as StudentName, RegistrationNumber, Title, Name
from StudentResult as sr
join StudentRegSubjectRelation as srb
on srb.StudentId = sr.StudentId
join Course as c
on c.CourseId = sr.CourseId
join Student as st
on st.StudentId = srb.StudentId
join Lookup as luk
on luk.LookupId = sr.Grade
group by Title,Name, FirstName, LastName, RegistrationNumber
GO
/****** Object:  Table [dbo].[StudentHostelRelation]    Script Date: 04/05/2019 7:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentHostelRelation](
	[HostelId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_StudentHostelRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hostel]    Script Date: 04/05/2019 7:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hostel](
	[HostelId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[Capacity] [int] NULL,
 CONSTRAINT [PK_Hostel] PRIMARY KEY CLUSTERED 
(
	[HostelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[HostelDetailsReport]    Script Date: 04/05/2019 7:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[HostelDetailsReport] as
select FirstName + ' '+ LastName as StudentName, RegistrationNumber, Name
from Student as s
join StudentHostelRelation as sth
on s.StudentId = sth.StudentId
join Hostel as h
on h.HostelId = sth.HostelId
group by Name,FirstName, LastName, RegistrationNumber
GO
/****** Object:  View [dbo].[StudentRegisterStubjectsReport]    Script Date: 04/05/2019 7:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[StudentRegisterStubjectsReport] as
select FirstName + ' '+ LastName as StudentName, RegistrationNumber, Title
from Student as s
join StudentRegSubjectRelation as str
on s.StudentId = str.StudentId
join Course as c
on c.CourseId = str.SubjectId
group by Title,FirstName,LastName,RegistrationNumber
GO
/****** Object:  Table [dbo].[StudentEventRelation]    Script Date: 04/05/2019 7:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentEventRelation](
	[EventId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_StudentEventRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 04/05/2019 7:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Venue] [nvarchar](50) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[StudentJoinedEventsReport]    Script Date: 04/05/2019 7:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[StudentJoinedEventsReport] as
select FirstName + ' '+ LastName as StudentName, RegistrationNumber, Name
from Student as s
join StudentEventRelation as str
on str.StudentId = s.StudentId
join Event as e
on e.EventId = str.EventId
group by Name,FirstName,LastName,RegistrationNumber
GO
/****** Object:  Table [dbo].[StudentcomplaintRelation]    Script Date: 04/05/2019 7:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentcomplaintRelation](
	[complaintId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_StudentcomplaintRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[complaint]    Script Date: 04/05/2019 7:57:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[complaint](
	[complaintId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[IsViewed] [bit] NOT NULL,
	[Detail] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_complaint] PRIMARY KEY CLUSTERED 
(
	[complaintId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[StudentComplaintsReport]    Script Date: 04/05/2019 7:57:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[StudentComplaintsReport] as
select FirstName + ' '+ LastName as StudentName, RegistrationNumber, Detail
from Student as s
join StudentcomplaintRelation as str
on str.StudentId = s.StudentId
join complaint as comp
on comp.complaintId = str.complaintId
group by FirstName,LastName,RegistrationNumber,Detail
GO
/****** Object:  Table [dbo].[StudentAttendence]    Script Date: 04/05/2019 7:57:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAttendence](
	[AttendenceId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[AttendenceStatus] [int] NOT NULL,
 CONSTRAINT [PK_StudentAttendence] PRIMARY KEY CLUSTERED 
(
	[AttendenceId] ASC,
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassAttendence]    Script Date: 04/05/2019 7:57:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassAttendence](
	[ClassAttendenceId] [int] IDENTITY(1,1) NOT NULL,
	[AttendanceDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ClassAttendence] PRIMARY KEY CLUSTERED 
(
	[ClassAttendenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseAttendence]    Script Date: 04/05/2019 7:57:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseAttendence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AttendenceId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_CourseAttendence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[StudentAttendenceLeaveReport]    Script Date: 04/05/2019 7:57:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[StudentAttendenceLeaveReport] as
select FirstName + ' '+ LastName as StudentName, RegistrationNumber, AttendanceDate, Title,Name
from StudentAttendence as sa
join ClassAttendence ca
on sa.AttendenceId = ca.ClassAttendenceId
join CourseAttendence as coa
on coa.AttendenceId = ca.ClassAttendenceId
join Student as s
on s.StudentId = sa.StudentId
join Course as c
on c.CourseId = coa.CourseId
join Lookup as lkup
on lkup.LookupId = sa.AttendenceStatus
where Name ='Leave'
group by
Title,AttendanceDate,FirstName, LastName,RegistrationNumber,Name
GO
/****** Object:  View [dbo].[StudentAttendenceReport]    Script Date: 04/05/2019 7:57:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[StudentAttendenceReport] as
select FirstName + ' '+ LastName as StudentName, RegistrationNumber, AttendanceDate, Title,Name
from StudentAttendence as sa
join ClassAttendence ca
on sa.AttendenceId = ca.ClassAttendenceId
join CourseAttendence as coa
on coa.AttendenceId = ca.ClassAttendenceId
join Student as s
on s.StudentId = sa.StudentId
join Course as c
on c.CourseId = coa.CourseId
join Lookup as lkup
on lkup.LookupId = sa.AttendenceStatus
group by
Title,AttendanceDate,FirstName, LastName,RegistrationNumber,Name
GO
/****** Object:  Table [dbo].[StudentChalanRelation]    Script Date: 04/05/2019 7:57:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentChalanRelation](
	[StudentId] [int] NOT NULL,
	[ChalanId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_StudentChalanRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chalan]    Script Date: 04/05/2019 7:57:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chalan](
	[ChalanId] [int] IDENTITY(1,1) NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[ChalanDate] [datetime] NOT NULL,
	[CurrentYear] [datetime] NOT NULL,
	[Fee] [int] NOT NULL,
 CONSTRAINT [PK_Fee] PRIMARY KEY CLUSTERED 
(
	[ChalanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[StudentDuesReport]    Script Date: 04/05/2019 7:57:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[StudentDuesReport] as
select FirstName + ' '+ LastName as StudentName, RegistrationNumber,Fee, IsPaid,YEAR(CurrentYear) as Year
from Student as s
join StudentChalanRelation as str
on str.StudentId = s.StudentId
join Chalan as c
on c.ChalanId = str.ChalanId 
group by
FirstName, LastName,RegistrationNumber,Fee, IsPaid,YEAR(CurrentYear)
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04/05/2019 7:57:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 04/05/2019 7:57:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 04/05/2019 7:57:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 04/05/2019 7:57:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 04/05/2019 7:57:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 04/05/2019 7:57:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[UserRole] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 04/05/2019 7:57:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentCourseRelation]    Script Date: 04/05/2019 7:57:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentCourseRelation](
	[CourseId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DepartmentCourseRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentInstructorRelation]    Script Date: 04/05/2019 7:57:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentInstructorRelation](
	[DepartmentId] [int] NOT NULL,
	[InstructorId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DepartmentInstructorRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentStudentRelation]    Script Date: 04/05/2019 7:57:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentStudentRelation](
	[DepartmentId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DepartmentStudentRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 04/05/2019 7:57:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[InstructorId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Contact] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[UserRole] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[HireDate] [datetime] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Detail] [nvarchar](50) NULL,
	[Specialization] [nvarchar](50) NULL,
	[Descrimination] [nvarchar](50) NULL,
 CONSTRAINT [PK_Instructor] PRIMARY KEY CLUSTERED 
(
	[InstructorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstructorCourseRelation]    Script Date: 04/05/2019 7:57:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstructorCourseRelation](
	[InstructorId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_InstructorCourseRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstructorStudentRelation]    Script Date: 04/05/2019 7:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstructorStudentRelation](
	[InstructorId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_InstructorStudentRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 04/05/2019 7:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Description] [nvarchar](50) NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notice]    Script Date: 04/05/2019 7:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notice](
	[NoticeId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Notice] PRIMARY KEY CLUSTERED 
(
	[NoticeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parent]    Script Date: 04/05/2019 7:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parent](
	[ParentId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[UserRole] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[Contact] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Parent] PRIMARY KEY CLUSTERED 
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParentStudentRelation]    Script Date: 04/05/2019 7:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParentStudentRelation](
	[ParentId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ParentStudentRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'4', N'Parent')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'Student')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3ab1f5a8-39a8-44eb-a66c-d9a2754ca819', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5bfd183c-43ac-4d26-9944-029df158b200', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'defd0a50-666e-4b1e-b094-d942bc7733fb', N'2')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [UserRole]) VALUES (N'1ce97400-359e-4e3f-ba7d-f043b141ccfc', N'student4@student.ssms.com', 0, N'AJwIDoIMWNcdkET31nrXzqyfkuD38GWyyRWfaLS97t4gJ2rYHLCZ+TtnVEdAcmp0xg==', N'e0578fa3-1b8f-4e6d-8159-1ee1f4627863', NULL, 0, 0, NULL, 1, 0, N'student4@student.ssms.com', N'Student')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [UserRole]) VALUES (N'29846b3e-4dee-4062-ac57-6638cb4f8ed6', N'student9@student.ssms.com', 0, N'AMvkxR3GWRA39W1cDunqpK8sAhTZrYCvqLqAKDSQOXkYrnuAEm643SYWzBp+Eg0FOw==', N'0bbbd3fb-eb55-4896-a2a8-9fb84e654e15', NULL, 0, 0, NULL, 1, 0, N'student9@student.ssms.com', N'Student')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [UserRole]) VALUES (N'2bbb2c08-4c03-41b6-9472-d25649ba1b6a', N'student8@student.ssms.com', 0, N'AFWS8NXEFDKuVs3FhaNU2oP7Dyrh/L0choDVcmIyw3EN2/8rMYn/OjHQU32QtfwRRQ==', N'89b09e46-3305-4190-bae9-478f20a9fdcd', NULL, 0, 0, NULL, 1, 0, N'student8@student.ssms.com', N'Student')
SET IDENTITY_INSERT [dbo].[Chalan] ON 

INSERT [dbo].[Chalan] ([ChalanId], [IsPaid], [ChalanDate], [CurrentYear], [Fee]) VALUES (6, 0, CAST(N'2019-05-03T01:12:42.813' AS DateTime), CAST(N'2019-05-03T01:12:42.813' AS DateTime), 40000)
INSERT [dbo].[Chalan] ([ChalanId], [IsPaid], [ChalanDate], [CurrentYear], [Fee]) VALUES (7, 1, CAST(N'2019-05-03T01:12:51.603' AS DateTime), CAST(N'2019-05-03T01:12:51.603' AS DateTime), 50000)
INSERT [dbo].[Chalan] ([ChalanId], [IsPaid], [ChalanDate], [CurrentYear], [Fee]) VALUES (8, 0, CAST(N'2019-05-03T01:12:58.673' AS DateTime), CAST(N'2019-05-03T01:12:58.673' AS DateTime), 20000)
SET IDENTITY_INSERT [dbo].[Chalan] OFF
SET IDENTITY_INSERT [dbo].[ClassAttendence] ON 

INSERT [dbo].[ClassAttendence] ([ClassAttendenceId], [AttendanceDate]) VALUES (7, CAST(N'2019-05-04T00:00:00.000' AS DateTime))
INSERT [dbo].[ClassAttendence] ([ClassAttendenceId], [AttendanceDate]) VALUES (8, CAST(N'2019-05-04T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ClassAttendence] OFF
SET IDENTITY_INSERT [dbo].[complaint] ON 

INSERT [dbo].[complaint] ([complaintId], [Date], [IsViewed], [Detail]) VALUES (16, CAST(N'2019-05-25T00:00:00.000' AS DateTime), 0, N'I am student1 comp2')
INSERT [dbo].[complaint] ([complaintId], [Date], [IsViewed], [Detail]) VALUES (17, CAST(N'2019-05-16T00:00:00.000' AS DateTime), 0, N'I am student1 comp1')
INSERT [dbo].[complaint] ([complaintId], [Date], [IsViewed], [Detail]) VALUES (18, CAST(N'2019-05-15T00:00:00.000' AS DateTime), 0, N'student2 Comp1')
SET IDENTITY_INSERT [dbo].[complaint] OFF
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([CourseId], [Title], [Description], [ImageUrl], [CreditHrs]) VALUES (12, N'ITC-201', N'Description', N'~/Content/upload/2085612849course1.jpg', 3)
INSERT [dbo].[Course] ([CourseId], [Title], [Description], [ImageUrl], [CreditHrs]) VALUES (13, N'WT-202', N'Description', N'~/Content/upload/1423584810course2.jpg', 3)
INSERT [dbo].[Course] ([CourseId], [Title], [Description], [ImageUrl], [CreditHrs]) VALUES (14, N'PROB-203', N'Description', N'~/Content/upload/260434722course3.jpg', 3)
SET IDENTITY_INSERT [dbo].[Course] OFF
SET IDENTITY_INSERT [dbo].[CourseAttendence] ON 

INSERT [dbo].[CourseAttendence] ([Id], [AttendenceId], [CourseId]) VALUES (4, 7, 12)
INSERT [dbo].[CourseAttendence] ([Id], [AttendenceId], [CourseId]) VALUES (5, 8, 13)
SET IDENTITY_INSERT [dbo].[CourseAttendence] OFF
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentId], [Name], [Description]) VALUES (6, N'EE', N'EE Department')
INSERT [dbo].[Department] ([DepartmentId], [Name], [Description]) VALUES (7, N'CSE', N'CSE Department')
INSERT [dbo].[Department] ([DepartmentId], [Name], [Description]) VALUES (8, N'Civil', N'Civil Department')
SET IDENTITY_INSERT [dbo].[Department] OFF
SET IDENTITY_INSERT [dbo].[DepartmentCourseRelation] ON 

INSERT [dbo].[DepartmentCourseRelation] ([CourseId], [DepartmentId], [Id]) VALUES (12, 7, 8)
INSERT [dbo].[DepartmentCourseRelation] ([CourseId], [DepartmentId], [Id]) VALUES (13, 6, 9)
INSERT [dbo].[DepartmentCourseRelation] ([CourseId], [DepartmentId], [Id]) VALUES (14, 6, 10)
SET IDENTITY_INSERT [dbo].[DepartmentCourseRelation] OFF
SET IDENTITY_INSERT [dbo].[DepartmentInstructorRelation] ON 

INSERT [dbo].[DepartmentInstructorRelation] ([DepartmentId], [InstructorId], [Id]) VALUES (7, 10, 6)
INSERT [dbo].[DepartmentInstructorRelation] ([DepartmentId], [InstructorId], [Id]) VALUES (7, 11, 7)
INSERT [dbo].[DepartmentInstructorRelation] ([DepartmentId], [InstructorId], [Id]) VALUES (6, 12, 8)
SET IDENTITY_INSERT [dbo].[DepartmentInstructorRelation] OFF
SET IDENTITY_INSERT [dbo].[DepartmentStudentRelation] ON 

INSERT [dbo].[DepartmentStudentRelation] ([DepartmentId], [StudentId], [Id]) VALUES (7, 46, 19)
INSERT [dbo].[DepartmentStudentRelation] ([DepartmentId], [StudentId], [Id]) VALUES (7, 47, 20)
INSERT [dbo].[DepartmentStudentRelation] ([DepartmentId], [StudentId], [Id]) VALUES (7, 48, 21)
SET IDENTITY_INSERT [dbo].[DepartmentStudentRelation] OFF
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([EventId], [Date], [Venue], [ImageUrl], [Name], [Description]) VALUES (6, CAST(N'2020-01-16T00:00:00.000' AS DateTime), N'Uet Lahore', N'~/Content/upload/831157763event5.jpg', N'Strangi 4.0', N'Description')
INSERT [dbo].[Event] ([EventId], [Date], [Venue], [ImageUrl], [Name], [Description]) VALUES (7, CAST(N'2019-05-04T00:00:00.000' AS DateTime), N'Uet Lahore', N'~/Content/upload/1757033153event6.jpg', N'BDS 3.0', N'Description')
INSERT [dbo].[Event] ([EventId], [Date], [Venue], [ImageUrl], [Name], [Description]) VALUES (8, CAST(N'2019-05-25T00:00:00.000' AS DateTime), N'Uet Lahore', N'~/Content/upload/1333812217event7.jpg', N'EXPO 7.0', N'Description')
SET IDENTITY_INSERT [dbo].[Event] OFF
SET IDENTITY_INSERT [dbo].[Hostel] ON 

INSERT [dbo].[Hostel] ([HostelId], [Name], [Description], [Capacity]) VALUES (5, N'Edhi Hall', N'New Boys Hostel', 500)
INSERT [dbo].[Hostel] ([HostelId], [Name], [Description], [Capacity]) VALUES (6, N'Zubair Hall', N'Hostel', 500)
INSERT [dbo].[Hostel] ([HostelId], [Name], [Description], [Capacity]) VALUES (7, N'MBQ', N'Hostel', 500)
SET IDENTITY_INSERT [dbo].[Hostel] OFF
SET IDENTITY_INSERT [dbo].[Instructor] ON 

INSERT [dbo].[Instructor] ([InstructorId], [FirstName], [LastName], [Contact], [Email], [UserName], [Password], [UserRole], [UserId], [HireDate], [ImageUrl], [Detail], [Specialization], [Descrimination]) VALUES (10, N'Teacher1', N'sajid', N'5678987654', N'teacher1@teacher.ssms.com', N'teacher1@teacher.ssms.com', N'Allahhuakbar1.', N'Teacher', N'defd0a50-666e-4b1e-b094-d942bc7733fb', CAST(N'2019-05-03T00:49:12.000' AS DateTime), N'~/Content/upload/1781827987teacher1.jpg', N'Detail', N'Specialization', N'Professor')
INSERT [dbo].[Instructor] ([InstructorId], [FirstName], [LastName], [Contact], [Email], [UserName], [Password], [UserRole], [UserId], [HireDate], [ImageUrl], [Detail], [Specialization], [Descrimination]) VALUES (11, N'Teacher2', N'sajid', N'5678987654', N'teacher2@teacher.ssms.com', N'teacher2@teacher.ssms.com', N'Allahhuakbar1.', N'Teacher', N'ec0f60e9-3177-4072-abe9-80c76712416a', CAST(N'2019-05-03T00:49:59.110' AS DateTime), N'~/Content/upload/540153909teacher2.jpg', N'Detail', N'Specialization', N'Professor')
INSERT [dbo].[Instructor] ([InstructorId], [FirstName], [LastName], [Contact], [Email], [UserName], [Password], [UserRole], [UserId], [HireDate], [ImageUrl], [Detail], [Specialization], [Descrimination]) VALUES (12, N'Teacher3', N'sajid', N'5678987654', N'teacher3@teacher.ssms.com', N'teacher3@teacher.ssms.com', N'Allahhuakbar1.', N'Teacher', N'5bfd183c-43ac-4d26-9944-029df158b200', CAST(N'2019-05-03T00:52:13.947' AS DateTime), N'~/Content/upload/1930578056teacher1.png', N'Detail', N'Specialization', N'Vice Chancellor')
SET IDENTITY_INSERT [dbo].[Instructor] OFF
SET IDENTITY_INSERT [dbo].[InstructorCourseRelation] ON 

INSERT [dbo].[InstructorCourseRelation] ([InstructorId], [CourseId], [Id]) VALUES (10, 12, 8)
INSERT [dbo].[InstructorCourseRelation] ([InstructorId], [CourseId], [Id]) VALUES (10, 13, 9)
INSERT [dbo].[InstructorCourseRelation] ([InstructorId], [CourseId], [Id]) VALUES (11, 14, 10)
SET IDENTITY_INSERT [dbo].[InstructorCourseRelation] OFF
SET IDENTITY_INSERT [dbo].[Lookup] ON 

INSERT [dbo].[Lookup] ([LookupId], [Name], [Category]) VALUES (1, N'Present', N'ATTENDANCE_STATUS')
INSERT [dbo].[Lookup] ([LookupId], [Name], [Category]) VALUES (2, N'Absent', N'ATTENDANCE_STATUS')
INSERT [dbo].[Lookup] ([LookupId], [Name], [Category]) VALUES (3, N'Leave', N'ATTENDANCE_STATUS')
SET IDENTITY_INSERT [dbo].[Lookup] OFF
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([NewsId], [Date], [ImageUrl], [Description], [Title]) VALUES (4, CAST(N'2019-05-06T00:00:00.000' AS DateTime), N'~/Content/upload/257641344event5.jpg', N'Description', N'News1')
INSERT [dbo].[News] ([NewsId], [Date], [ImageUrl], [Description], [Title]) VALUES (5, CAST(N'2019-05-20T00:00:00.000' AS DateTime), N'~/Content/upload/1166931711event6.jpg', N'Description', N'News2')
SET IDENTITY_INSERT [dbo].[News] OFF
SET IDENTITY_INSERT [dbo].[Notice] ON 

INSERT [dbo].[Notice] ([NoticeId], [Date], [Description]) VALUES (3, CAST(N'2019-05-13T00:00:00.000' AS DateTime), N'Notice 1')
INSERT [dbo].[Notice] ([NoticeId], [Date], [Description]) VALUES (4, CAST(N'2019-05-14T00:00:00.000' AS DateTime), N'Notice2')
INSERT [dbo].[Notice] ([NoticeId], [Date], [Description]) VALUES (5, CAST(N'2019-05-14T00:00:00.000' AS DateTime), N'Notice3')
SET IDENTITY_INSERT [dbo].[Notice] OFF
SET IDENTITY_INSERT [dbo].[Parent] ON 

INSERT [dbo].[Parent] ([ParentId], [FirstName], [LastName], [Email], [UserName], [Password], [UserRole], [UserId], [Contact]) VALUES (13, N'Parent1', N'sajid', N'parent1@parent.ssms.com', N'parent1@parent.ssms.com', N'Allahhuakbar1.', N'Parent', N'4892eaac-1a16-4dff-9f36-57b0b9d8ada5', N'03000061423')
INSERT [dbo].[Parent] ([ParentId], [FirstName], [LastName], [Email], [UserName], [Password], [UserRole], [UserId], [Contact]) VALUES (14, N'Parent2', N'sajid', N'parent2@parent.ssms.com', N'parent2@parent.ssms.com', N'Allahhuakbar1.', N'Parent', N'edc4b486-5ffd-4b82-8918-f1f881c42e6a', N'03000061423')
INSERT [dbo].[Parent] ([ParentId], [FirstName], [LastName], [Email], [UserName], [Password], [UserRole], [UserId], [Contact]) VALUES (15, N'Parent3', N'sajid', N'parent3@parent.ssms.com', N'parent3@parent.ssms.com', N'Allahhuakbar1.', N'Parent', N'58edfba3-c8e9-4d7c-87ba-2bcb2f77e376', N'03000061423')
SET IDENTITY_INSERT [dbo].[Parent] OFF
SET IDENTITY_INSERT [dbo].[ParentStudentRelation] ON 

INSERT [dbo].[ParentStudentRelation] ([ParentId], [StudentId], [Id]) VALUES (13, 46, 15)
INSERT [dbo].[ParentStudentRelation] ([ParentId], [StudentId], [Id]) VALUES (13, 47, 16)
INSERT [dbo].[ParentStudentRelation] ([ParentId], [StudentId], [Id]) VALUES (14, 48, 17)
SET IDENTITY_INSERT [dbo].[ParentStudentRelation] OFF
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentId], [FirstName], [LastName], [Email], [UserName], [Password], [UserRole], [UserId], [EnrollmentDate], [RegistrationNumber], [Status]) VALUES (46, N'Student1', N'sajid', N'student1@student.ssms.com', N'student1@student.ssms.com', N'Allahhuakbar1.', N'Student', N'bc10a1ee-d007-4fd2-8781-3a92aebaf52d', CAST(N'2019-05-03T00:53:38.773' AS DateTime), N'2016-CS-501', 5)
INSERT [dbo].[Student] ([StudentId], [FirstName], [LastName], [Email], [UserName], [Password], [UserRole], [UserId], [EnrollmentDate], [RegistrationNumber], [Status]) VALUES (47, N'Student2', N'sajid', N'student2@student.ssms.com', N'student2@student.ssms.com', N'Allahhuakbar1.', N'Student', N'c04c0832-286c-4cc3-b9c1-7c6cf5e9b8cf', CAST(N'2019-05-03T00:54:11.943' AS DateTime), N'2016-CS-502', 5)
INSERT [dbo].[Student] ([StudentId], [FirstName], [LastName], [Email], [UserName], [Password], [UserRole], [UserId], [EnrollmentDate], [RegistrationNumber], [Status]) VALUES (48, N'Student3', N'sajid', N'student3@student.ssms.com', N'student3@student.ssms.com', N'Allahhuakbar1.', N'Student', N'd7d00bd0-cf97-44c5-af53-356ca44e05b8', CAST(N'2019-05-03T00:54:55.020' AS DateTime), N'2016-CS-503', 5)
SET IDENTITY_INSERT [dbo].[Student] OFF
INSERT [dbo].[StudentAttendence] ([AttendenceId], [StudentId], [AttendenceStatus]) VALUES (7, 46, 1)
INSERT [dbo].[StudentAttendence] ([AttendenceId], [StudentId], [AttendenceStatus]) VALUES (7, 48, 3)
INSERT [dbo].[StudentAttendence] ([AttendenceId], [StudentId], [AttendenceStatus]) VALUES (7, 53, 2)
SET IDENTITY_INSERT [dbo].[StudentChalanRelation] ON 

INSERT [dbo].[StudentChalanRelation] ([StudentId], [ChalanId], [Id]) VALUES (46, 6, 13)
INSERT [dbo].[StudentChalanRelation] ([StudentId], [ChalanId], [Id]) VALUES (46, 7, 14)
INSERT [dbo].[StudentChalanRelation] ([StudentId], [ChalanId], [Id]) VALUES (46, 8, 15)
SET IDENTITY_INSERT [dbo].[StudentChalanRelation] OFF
SET IDENTITY_INSERT [dbo].[StudentcomplaintRelation] ON 

INSERT [dbo].[StudentcomplaintRelation] ([complaintId], [StudentId], [Id]) VALUES (16, 46, 14)
INSERT [dbo].[StudentcomplaintRelation] ([complaintId], [StudentId], [Id]) VALUES (17, 46, 15)
INSERT [dbo].[StudentcomplaintRelation] ([complaintId], [StudentId], [Id]) VALUES (18, 48, 16)
SET IDENTITY_INSERT [dbo].[StudentcomplaintRelation] OFF
SET IDENTITY_INSERT [dbo].[StudentEventRelation] ON 

INSERT [dbo].[StudentEventRelation] ([EventId], [StudentId], [Id]) VALUES (7, 46, 10)
INSERT [dbo].[StudentEventRelation] ([EventId], [StudentId], [Id]) VALUES (10, 46, 11)
INSERT [dbo].[StudentEventRelation] ([EventId], [StudentId], [Id]) VALUES (9, 46, 12)
SET IDENTITY_INSERT [dbo].[StudentEventRelation] OFF
SET IDENTITY_INSERT [dbo].[StudentHostelRelation] ON 

INSERT [dbo].[StudentHostelRelation] ([HostelId], [StudentId], [Id]) VALUES (5, 46, 17)
INSERT [dbo].[StudentHostelRelation] ([HostelId], [StudentId], [Id]) VALUES (9, 47, 18)
INSERT [dbo].[StudentHostelRelation] ([HostelId], [StudentId], [Id]) VALUES (7, 48, 19)
SET IDENTITY_INSERT [dbo].[StudentHostelRelation] OFF
SET IDENTITY_INSERT [dbo].[StudentRegSubjectRelation] ON 

INSERT [dbo].[StudentRegSubjectRelation] ([StudentId], [SubjectId], [Id]) VALUES (46, 12, 14)
INSERT [dbo].[StudentRegSubjectRelation] ([StudentId], [SubjectId], [Id]) VALUES (46, 13, 15)
INSERT [dbo].[StudentRegSubjectRelation] ([StudentId], [SubjectId], [Id]) VALUES (46, 15, 16)
SET IDENTITY_INSERT [dbo].[StudentRegSubjectRelation] OFF
INSERT [dbo].[StudentResult] ([StudentId], [CourseId], [Grade]) VALUES (46, 12, 9)
INSERT [dbo].[StudentResult] ([StudentId], [CourseId], [Grade]) VALUES (48, 12, 13)
INSERT [dbo].[StudentResult] ([StudentId], [CourseId], [Grade]) VALUES (53, 12, 8)
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 04/05/2019 7:57:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 04/05/2019 7:57:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 04/05/2019 7:57:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 04/05/2019 7:57:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 04/05/2019 7:57:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 04/05/2019 7:57:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CourseAttendence]  WITH CHECK ADD  CONSTRAINT [FK_CourseAttendence_ClassAttendence] FOREIGN KEY([AttendenceId])
REFERENCES [dbo].[ClassAttendence] ([ClassAttendenceId])
GO
ALTER TABLE [dbo].[CourseAttendence] CHECK CONSTRAINT [FK_CourseAttendence_ClassAttendence]
GO
ALTER TABLE [dbo].[CourseAttendence]  WITH CHECK ADD  CONSTRAINT [FK_CourseAttendence_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([CourseId])
GO
ALTER TABLE [dbo].[CourseAttendence] CHECK CONSTRAINT [FK_CourseAttendence_Course]
GO
ALTER TABLE [dbo].[DepartmentCourseRelation]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentCourseRelation_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([CourseId])
GO
ALTER TABLE [dbo].[DepartmentCourseRelation] CHECK CONSTRAINT [FK_DepartmentCourseRelation_Course]
GO
ALTER TABLE [dbo].[DepartmentCourseRelation]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentCourseRelation_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([DepartmentId])
GO
ALTER TABLE [dbo].[DepartmentCourseRelation] CHECK CONSTRAINT [FK_DepartmentCourseRelation_Department]
GO
ALTER TABLE [dbo].[DepartmentInstructorRelation]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentInstructorRelation_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([DepartmentId])
GO
ALTER TABLE [dbo].[DepartmentInstructorRelation] CHECK CONSTRAINT [FK_DepartmentInstructorRelation_Department]
GO
ALTER TABLE [dbo].[DepartmentInstructorRelation]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentInstructorRelation_Instructor] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Instructor] ([InstructorId])
GO
ALTER TABLE [dbo].[DepartmentInstructorRelation] CHECK CONSTRAINT [FK_DepartmentInstructorRelation_Instructor]
GO
ALTER TABLE [dbo].[DepartmentStudentRelation]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentStudentRelation_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([DepartmentId])
GO
ALTER TABLE [dbo].[DepartmentStudentRelation] CHECK CONSTRAINT [FK_DepartmentStudentRelation_Department]
GO
ALTER TABLE [dbo].[DepartmentStudentRelation]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentStudentRelation_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[DepartmentStudentRelation] CHECK CONSTRAINT [FK_DepartmentStudentRelation_Student]
GO
ALTER TABLE [dbo].[Instructor]  WITH CHECK ADD  CONSTRAINT [FK_Instructor_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Instructor] CHECK CONSTRAINT [FK_Instructor_AspNetUsers]
GO
ALTER TABLE [dbo].[InstructorCourseRelation]  WITH CHECK ADD  CONSTRAINT [FK_InstructorCourseRelation_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([CourseId])
GO
ALTER TABLE [dbo].[InstructorCourseRelation] CHECK CONSTRAINT [FK_InstructorCourseRelation_Course]
GO
ALTER TABLE [dbo].[InstructorCourseRelation]  WITH CHECK ADD  CONSTRAINT [FK_InstructorCourseRelation_Instructor] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Instructor] ([InstructorId])
GO
ALTER TABLE [dbo].[InstructorCourseRelation] CHECK CONSTRAINT [FK_InstructorCourseRelation_Instructor]
GO
ALTER TABLE [dbo].[InstructorStudentRelation]  WITH CHECK ADD  CONSTRAINT [FK_InstructorStudentRelation_Instructor] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Instructor] ([InstructorId])
GO
ALTER TABLE [dbo].[InstructorStudentRelation] CHECK CONSTRAINT [FK_InstructorStudentRelation_Instructor]
GO
ALTER TABLE [dbo].[InstructorStudentRelation]  WITH CHECK ADD  CONSTRAINT [FK_InstructorStudentRelation_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[InstructorStudentRelation] CHECK CONSTRAINT [FK_InstructorStudentRelation_Student]
GO
ALTER TABLE [dbo].[Parent]  WITH CHECK ADD  CONSTRAINT [FK_Parent_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Parent] CHECK CONSTRAINT [FK_Parent_AspNetUsers]
GO
ALTER TABLE [dbo].[ParentStudentRelation]  WITH CHECK ADD  CONSTRAINT [FK_ParentStudentRelation_Parent] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Parent] ([ParentId])
GO
ALTER TABLE [dbo].[ParentStudentRelation] CHECK CONSTRAINT [FK_ParentStudentRelation_Parent]
GO
ALTER TABLE [dbo].[ParentStudentRelation]  WITH CHECK ADD  CONSTRAINT [FK_ParentStudentRelation_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[ParentStudentRelation] CHECK CONSTRAINT [FK_ParentStudentRelation_Student]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_AspNetUsers]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Lookup] FOREIGN KEY([Status])
REFERENCES [dbo].[Lookup] ([LookupId])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Lookup]
GO
ALTER TABLE [dbo].[StudentAttendence]  WITH CHECK ADD  CONSTRAINT [FK_StudentAttendence_ClassAttendence] FOREIGN KEY([AttendenceId])
REFERENCES [dbo].[ClassAttendence] ([ClassAttendenceId])
GO
ALTER TABLE [dbo].[StudentAttendence] CHECK CONSTRAINT [FK_StudentAttendence_ClassAttendence]
GO
ALTER TABLE [dbo].[StudentAttendence]  WITH CHECK ADD  CONSTRAINT [FK_StudentAttendence_Lookup] FOREIGN KEY([AttendenceStatus])
REFERENCES [dbo].[Lookup] ([LookupId])
GO
ALTER TABLE [dbo].[StudentAttendence] CHECK CONSTRAINT [FK_StudentAttendence_Lookup]
GO
ALTER TABLE [dbo].[StudentAttendence]  WITH CHECK ADD  CONSTRAINT [FK_StudentAttendence_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentAttendence] CHECK CONSTRAINT [FK_StudentAttendence_Student]
GO
ALTER TABLE [dbo].[StudentChalanRelation]  WITH CHECK ADD  CONSTRAINT [FK_StudentChalanRelation_Chalan] FOREIGN KEY([ChalanId])
REFERENCES [dbo].[Chalan] ([ChalanId])
GO
ALTER TABLE [dbo].[StudentChalanRelation] CHECK CONSTRAINT [FK_StudentChalanRelation_Chalan]
GO
ALTER TABLE [dbo].[StudentChalanRelation]  WITH CHECK ADD  CONSTRAINT [FK_StudentChalanRelation_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentChalanRelation] CHECK CONSTRAINT [FK_StudentChalanRelation_Student]
GO
ALTER TABLE [dbo].[StudentcomplaintRelation]  WITH CHECK ADD  CONSTRAINT [FK_StudentcomplaintRelation_complaint] FOREIGN KEY([complaintId])
REFERENCES [dbo].[complaint] ([complaintId])
GO
ALTER TABLE [dbo].[StudentcomplaintRelation] CHECK CONSTRAINT [FK_StudentcomplaintRelation_complaint]
GO
ALTER TABLE [dbo].[StudentcomplaintRelation]  WITH CHECK ADD  CONSTRAINT [FK_StudentcomplaintRelation_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentcomplaintRelation] CHECK CONSTRAINT [FK_StudentcomplaintRelation_Student]
GO
ALTER TABLE [dbo].[StudentEventRelation]  WITH CHECK ADD  CONSTRAINT [FK_StudentEventRelation_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
GO
ALTER TABLE [dbo].[StudentEventRelation] CHECK CONSTRAINT [FK_StudentEventRelation_Event]
GO
ALTER TABLE [dbo].[StudentEventRelation]  WITH CHECK ADD  CONSTRAINT [FK_StudentEventRelation_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentEventRelation] CHECK CONSTRAINT [FK_StudentEventRelation_Student]
GO
ALTER TABLE [dbo].[StudentHostelRelation]  WITH CHECK ADD  CONSTRAINT [FK_StudentHostelRelation_Hostel] FOREIGN KEY([HostelId])
REFERENCES [dbo].[Hostel] ([HostelId])
GO
ALTER TABLE [dbo].[StudentHostelRelation] CHECK CONSTRAINT [FK_StudentHostelRelation_Hostel]
GO
ALTER TABLE [dbo].[StudentHostelRelation]  WITH CHECK ADD  CONSTRAINT [FK_StudentHostelRelation_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentHostelRelation] CHECK CONSTRAINT [FK_StudentHostelRelation_Student]
GO
ALTER TABLE [dbo].[StudentRegSubjectRelation]  WITH CHECK ADD  CONSTRAINT [FK_StudentRegSubjectRelation_Course] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Course] ([CourseId])
GO
ALTER TABLE [dbo].[StudentRegSubjectRelation] CHECK CONSTRAINT [FK_StudentRegSubjectRelation_Course]
GO
ALTER TABLE [dbo].[StudentRegSubjectRelation]  WITH CHECK ADD  CONSTRAINT [FK_StudentRegSubjectRelation_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentRegSubjectRelation] CHECK CONSTRAINT [FK_StudentRegSubjectRelation_Student]
GO
ALTER TABLE [dbo].[StudentResult]  WITH CHECK ADD  CONSTRAINT [FK_StudentResult_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([CourseId])
GO
ALTER TABLE [dbo].[StudentResult] CHECK CONSTRAINT [FK_StudentResult_Course]
GO
ALTER TABLE [dbo].[StudentResult]  WITH CHECK ADD  CONSTRAINT [FK_StudentResult_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentResult] CHECK CONSTRAINT [FK_StudentResult_Student]
GO
ALTER TABLE [dbo].[StudentResult]  WITH CHECK ADD  CONSTRAINT [FK_StudentResult_StudentResult] FOREIGN KEY([Grade])
REFERENCES [dbo].[Lookup] ([LookupId])
GO
ALTER TABLE [dbo].[StudentResult] CHECK CONSTRAINT [FK_StudentResult_StudentResult]
GO
USE [master]
GO
