@model IEnumerable<SmartSchoolManagementSystem.Course>

@{
    ViewBag.Title = "CoursesList";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Courses</li>
        <li class="active">List of Courses</li>
    </ol>
</div>
<h2>List Of Registered Courses</h2>
<table id="table_id" class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Credit Hours
            </th>
            <th>
                Image
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                <td>
                    @item.CreditHrs
                </td>
                <td>
                    <img class="img img-responsive cimg" src="@Url.Content(item.ImageUrl)" style="height:30px;width:30px " />
                </td>
                <td>
                    <a href="@Url.Action("UnrollCourse", new {id = item.CourseId})" class="fa fa-trash" style="font-size: 19px; color: red"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script>
        $(document).ready(function () {
            $("#table_id").dataTable();
        });
    </script>
}
