@model SmartSchoolManagementSystem.CollectionViewModel.ParentAdminStudentRelationViewModel

@{
    ViewBag.Title = "CoursesList";
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Hostels</li>
        <li class="active">List of Hostels</li>
    </ol>
</div>
<h2>List Of Available Hostels</h2>
<table id="table_id" class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Capacity
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Hostels)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Capacity
                </td>
                <td>
                    <a href="@Url.Action("ApplyForHostel", new {id = item.HostelId, idd = Model.Student.StudentId})" class="fa fa-paper-plane" style="font-size: 19px;">Apply</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script>
        $(document).ready(function () {
            $("#table_id").dataTable();
        });
    </script>
}
